#main {
    width: 650px;
    float: left;
    height: 500px;
}

.product {
    float: left;
    width: 216px;
    height: 350px;
}

.product img {
    background-color: #E1DDC8;
    padding: 5px;
}

.product_title, .product_price {
    font-size: 12px;
    width: 200px;
    text-align: center;
    margin-top: 10px;
}

.product_title {
    height: 30px
}

.product_price {
    font-size: 11px;
}
