<img class="center" src={{ 'front_picture_oct_10.gif' | asset_url }} />

  <div id="category-picture-links" class="center">
    <div class="category-picture-link">
      <img height="150" width="150" src={{ 'featured_bracelet.jpg' | asset_url }} />
      <p class="caption">Bracelets</p>
    </div>
    <div class="category-picture-link">
      <img height="150" width="150" src={{ 'featured_necklace.jpg' | asset_url }} />
      <p class="caption">Necklaces</p>
    </div>
    <div class="category-picture-link">
      <img height="150" width="150" src={{ 'featured_earrings.jpg' | asset_url }} />
      <p class="caption">Earrings</p>
    </div>
  </div>
