
<img class="center" src={{ 'front_picture_oct_10.gif' | asset_url }} /> 

<div id="category-picture-links" class="center">
  <a href="http://ubonin.myshopify.com/collections/bracelets">
    <div class="category-picture-link">
      <img height="150" width="150" src={{ 'featured_bracelet.jpg' | asset_url }} /> 
      <p class="caption">Bracelets</p>
    </div>
  </a>
  <a href="http://ubonin.myshopify.com/collections/necklaces">
    <div class="category-picture-link">
      <img height="150" width="150" src={{ 'featured_necklace.jpg' | asset_url }} />
      <p class="caption">Necklaces</p>
    </div>
  </a>
  <a href="http://ubonin.myshopify.com/collections/earrings">
    <div class="category-picture-link">
      <img height="150" width="150" src={{ 'featured_earrings.jpg' | asset_url }} />
      <p class="caption">Earrings</p>
    </div>
  </a>
</div>
